# Node modules
node_modules/

# Local Netlify files
.netlify

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# Build outputs (optional, if Netlify builds them)
dist/
build/
